<head>
<style>
  form{
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: burlywood;
  
}
h2{
  text-align: center;
}
.page{
  text-align: center;
}
body{
  background-image: url("<%= asset_path('fondo_login.jpg') %>");
  background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    display: block;
}
</style>

</head>
<body>
  
<br><br><br><br>
<h2>Log in</h2>
<div class="page">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</body>

