<p id="notice"><%= notice %></p>

<h1>Editar Comentarios</h1>

<%= form_with(model: @comentario, method: :patch) do |form|%>

    <div class = 'field'>
        <%= form.label :contenido %>
        <%= form.text_field :contenido %>
    </div>

    <div class='actions'>
        <%= form.submit %>
    </div>

<% end %>

<%= link_to 'Listado de comentarios', comentarios_path%>
