<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 3px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr{
    border: black;
      background-color: #dddddd;
    }
    body{
            padding: 0;
            margin: 0;
            background-image: url("<%= asset_path('light.jpg') %>");
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Lato', sans-serif;
            display: block;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #cb5f59;
    }
    .alignright { float: right; }
  </style>
</head>
<body>
  <ul>
    <li><a href="/welcome">Home</a></li>
    <li><a href="/restaurants">Restaurants</a></li>
    <li><a href="/comunas">Comunas</a></li>
    <li><a href="/comentarios">Comentarios</a></li>
    <li><a href="/gustos">Gustos</a></li>
    <li><a href="/meetings">Citas</a></li>
    <li class="alignright"><a href="#">Mi cuenta</a></li>
  </ul>
<p id="notice"><%= notice %></p>
<div style="text-align: center;">
<h1>Comentarios</h1>

<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <thead>
    <tr>
      <th>Contenido</th>
      <th colspan="1"> Acciones </th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.contenido %></td>
        <td> <%= link_to 'Ver detalles', comentario_path(comentario.id)%></p>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Comentarios', comentarios_new_path %>
</div>
</body>