<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left:auto; 
margin-right:auto;
    
  }
  
  
  td, th {
    border: 3px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr{
  border: black;
    background-color: #dddddd;
  }
  body {
    padding: 0;
    margin: 0;
    background-image: url("<%= asset_path('comentario.jpg') %>");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    display: block;
}
.boton{
  text-align: center;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 10px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
      background-color: black;
      display: inline-block;

  
}
h2{
  color: black;
  text-align: center;
}
</style>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Inicio</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/restaurants">Restaurant</a></li>
          <li><a href="/comunas">Comunas</a></li>
          <li><a href="/comentarios">Comentarios</a></li>
          <li><a href="/gustos">Gustos</a></li>
          <li><a href="/meetings">Citas</a></li>
          <li><a href="#">Mi cuenta</a></li>
        </ul>
      </div>
    </nav>
<p id="notice"><%= notice %></p>
<h2>Comentario</h2>
<br>
<div style="text-align: center;">
<table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <thead>
      <tr>
          <th style="text-align: center;">Nombre</th>
          
      </tr>
  </thead>

<tbody>
  <tr>
      <td style="text-align: center;"><%= @comentario.contenido%></td>
      
  </tr>
</tbody>
</table>
<div class="boton">
<%= link_to 'Listado de comentarios', comentarios_path %>
</div>
<div class="boton">
<%= link_to 'Editar comentario', comentarios_edit_path(@comentario.id) %>
</div>
<div class="boton">
<%= link_to 'Eliminar comentario', comentario_path(@comentario.id), method: :delete, data: { confirm: 'Está seguro que desea borrar el gusto?'  }  %>
</div>
</div>>
</body>