<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-left:auto; 
    margin-right:auto;
        
      }
      
      
      td, th {
        border: 3px solid black;
        text-align: left;
        padding: 8px;
      }
      
      tr{
      border: black;
        background-color: #dddddd;
      }
      body {
        padding: 0;
        margin: 0;
        background-image: url("<%= asset_path('pancackes.jpg') %>");
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Lato', sans-serif;
        display: block;
    }
    .button {
      background-color: white;
      color: black;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 15px;
      margin: 4px 2px;
      transition-duration: 0.8s;
      border: 2px solid black;
  }
    .button:hover{
        background-color: rgb(110, 42, 3);
        color: white;
    }
</style>
</head>
<body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/welcome">Inicio</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/restaurants">Restaurant</a></li>
          <li><a href="/comunas">Comunas</a></li>
          <li><a href="/comentarios">Comentarios</a></li>
          <li><a href="/gustos">Gustos</a></li>
          <li><a href="/meetings">Citas</a></li>
          <li><a href="#">Mi cuenta</a></li>
        </ul>
      </div>
    </nav>
<p id="notice"><%= notice %></p>



<div style="text-align: center;">
  <h2 style="color: white;"><strong>Gustos</strong></h2>
  <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <thead>
    <tr>
          <th style="text-align: center;">Nombre</th>
          <th style="text-align: center;">Descripción</th>
    </tr>
  </thead>

  <tbody>
    <tr>
          <td style="text-align: center;"><%= @gusto.nombre%></td>
          <td style="text-align: center;"><%= @gusto.descripcion%></td>
    </tr>
  </tbody>
  </table>

  <br>
  
    <%= link_to 'Listado de gustos', gustos_path %>

    <%= link_to 'Editar gusto', gustos_edit_path(@gusto.id) %>

    <%= link_to 'Eliminar gusto', gusto_path(@gusto.id), method: :delete, data: { confirm: 'Está seguro que desea borrar el gusto?'  }  %>

</div>
</body>