<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      form{
          text-align: center;
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
          width: 330px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 20px;
          background-color: burlywood;
        
      }
        body {
          padding: 0;
          margin: 0;
          background-image: url("<%= asset_path('wine.jpg') %>");
          background-attachment: fixed;
          background-size: cover;
          font-family: 'Lato', sans-serif;
          display: block;
      }
    header{
        background-color: white;
    }
    .button {
      background-color: white;
      color: black;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 12px;
      margin: 4px 2px;
      transition-duration: 0.8s;
      border: 2px solid black;
  }
    .button:hover{
        background-color: rgb(3, 110, 65);
        color: white;
    }

      
  </style>
</head>
<body>
  <%= render :template => "header.html.erb"%>

<div class="parte1" style="text-align: center;">
<p id="notice"><%= notice %></p>
<div class="header">
<h1 style="color: white;"><strong>Nueva Cita</strong></h1>
</div>
<%if current_user.tipo == 'Administrador'%>
<%= form_with(model: @meetings, method: :post) do |form|%>

    <div class = 'field' style="text-align: center;">
        <%= form.label :usuario1 %>
        <%= form.text_field :usuario1 %>
    </div>
    <br>
    <div class = 'field' style="text-align: center;">
        <%= form.label :usuario2 %>
        <%= form.text_field :usuario2 %>
    </div>
    <br>
    <% @restaurant = Restaurant.all %>
    <div class = 'field'>
      <%= form.label :restaurant_id %>
      <%= form.select :restaurant_id, @restaurant.collect {|u| [ u.id] } %>
    </div>
    <br>
    <div class='actions' style="text-align: center;">
      <%= form.submit %>
    </div>
<%end%>
    <br>
    <%= link_to 'Listado de Citas', meetings_path, :method => :get, :class => "button" %>
<%end%>

<%if current_user.tipo == 'Cliente'%>
<%= form_with(model: @meetings, method: :post) do |form|%>
<div class='actions' style="text-align: center;">
  <p>Elige el restaurant donde te gustaria tener la cita</p>
  <% @restaurant = Restaurant.all %>
  <div class = 'field'>
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id, Restaurant.where(aceptado: 1).collect  {|u| [u.nombre, u.id] } %>
  </div>
  <%= form.submit %>
</div>
<%end%>
<%end%>
<%= link_to "Inicio", welcome_path, :method => :get, :class => "button" %>



</body>


