<%= form_with(url: (@comentario.new_record? ? [@restaurant.comuna, @restaurant, @comentario] : comuna_restaurant_comentarios_path), model: @comentario, local: true) do |form| %>
<% if comentario.errors.any? %>    
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>
      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class = 'field'>
        <p>tu uid es <%= current_user.id%><p>
        <%= form.label :contenido %>
        <%= form.text_field :contenido %><br>
        
    </div>

    <div class='actions'>
        <%= form.submit %>
    </div>

<% end %>