<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>   
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 3px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr{
    border: black;
      background-color: #dddddd;
    }
    body {
      padding: 0;
      margin: 0;
      background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url("<%= asset_path('fondo_orange.jpg') %>");
      
            
      background-color: whitesmoke;
      background-attachment: fixed;
      background-size: cover;
      font-family: 'Lato', sans-serif;
      display: block;
  }

    .button {
      background-color: white;
      color: black;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 15px;
      margin: 4px 2px;
      transition-duration: 0.8s;
      border: 2px solid black;
  }
    .button:hover{
        background-color: rgb(76, 152, 175);
        color: white;
    }
    .photo{
      width: 150px;
      height: 150px;
      margin: auto;
  
  }
   
  .img_preview{
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .card{
        margin: 10px 350px;
        background-color:rgb(202, 200, 200)
      }
  .carta{
    margin: 10px 200px;
    
  }
    
  </style>
</head>
<body>
  <%= render :template => "header.html.erb"%>
<p id="notice"><%= notice %></p>
<div class="carta">
<h1 style="text-align: center;"><strong>Comentarios</strong></h1>


<% @comentarios.each do |comentario| %>
  <%if current_user.tipo == "Cliente"%>
    <%if current_user.id == comentario.user_id%>
    <div class="card mb-3" style="max-width: 510px;margin:auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="photo" >
            <%if comentario.user.foto.attached?%>
              <%= image_tag(comentario.user.foto, :class => "img_preview") %>
            <%else%>
              <%= image_tag 'user.jpg',class: "img_preview"%>
            <%end%>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Usuario: <%=comentario.user.username%></h4>
            <p class="card-text">Comentario: <%= comentario.contenido %></p>
            <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%>
              <%= link_to 'Editar', edit_comuna_restaurant_comentario_path(comentario.restaurant.comuna_id , comentario.restaurant_id, comentario), :method => :get%>
              
              <td><%= link_to 'Destroy', comuna_restaurant_comentario_path(comentario.restaurant_id, comentario.restaurant_id, comentario), method: :delete, data: { confirm: 'Are you sure?' }%></td></tr>
            <%end%>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <%if current_user.tipo == "Dueño"%>
    <%if comentario.restaurant.user_id == current_user.id%>
    <div class="card mb-3" style="max-width: 510px;margin:auto">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="photo" >
            <%if comentario.user.foto.attached?%>
              <%= image_tag(comentario.user.foto, :class => "img_preview") %>
            <%else%>
              <%= image_tag 'user.jpg',class: "img_preview"%>
            <%end%>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">Usuario: <%=comentario.user.username%></h4>
            <p class="card-text">Comentario: <%= comentario.contenido %></p>
            <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%>
              <%= link_to 'Editar', edit_comuna_restaurant_comentario_path(comentario.restaurant.comuna_id , comentario.restaurant_id, comentario), :method => :get%>
              
              <td><%= link_to 'Destroy', comuna_restaurant_comentario_path(comentario.restaurant_id, comentario.restaurant_id, comentario), method: :delete, data: { confirm: 'Are you sure?' }%></td></tr>
            <%end%>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <%if current_user.tipo == "Administrador"%>
  <div class="card mb-3" style="max-width: 510px;margin:auto">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="photo" >
          <%if comentario.user.foto.attached?%>
            <%= image_tag(comentario.user.foto, :class => "img_preview") %>
          <%else%>
            <%= image_tag 'user.jpg',class: "img_preview"%>
          <%end%>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">Usuario: <%=comentario.user.username%></h4>
          <p class="card-text">Comentario: <%= comentario.contenido %></p>
          <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%>
            <%= link_to 'Editar', edit_comuna_restaurant_comentario_path(comentario.restaurant.comuna_id , comentario.restaurant_id, comentario), :method => :get%>
            
            <td><%= link_to 'Destroy', comuna_restaurant_comentario_path(comentario.restaurant_id, comentario.restaurant_id, comentario), method: :delete, data: { confirm: 'Are you sure?' }%></td></tr>
          <%end%>
          </div>
      </div>
    </div>
  </div>
  <% end %>
<%end%>
<br>



</div>
</body>