<%= form_with(url: (@restaurant.new_record? ? [@comuna, @restaurant] : comuna_restaurant_path), model: @restaurant, local: true) do |form| %>
<% if restaurant.errors.any? %>    
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this song from being saved:</h2>
      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class='field' style="text-align: center;">
      <%= form.label :nombre %>
      <%= form.text_field :nombre %>
  </div>
  <br>
  <div class='field' style="text-align: center;">
      <%= form.label :valoracion %>
      <%= form.number_field :valoracion, max:10%>
  </div>
  <br>
  <div class='field' style="text-align: center;">
      <%= form.label :comentar %>
      <%= form.text_field :comentar %>
  </div>
  <br>
  <div class='field' style="text-align: center;">
      <%= form.label :descripcion %>
      <%= form.text_field :descripcion %>
  </div>
  <br>
  <%="tu id de dueno es #{current_user.id}"%>
  <div class='field' style="text-align: center;">
    <%= form.label :dueno %>
    <%= form.text_field :dueno %>
</div>
<br>
<%if current_user.tipo == "Administrador"%>
    <div class='field' style="text-align: center;">
      <%= form.label :aceptado %>
      <%= form.text_field :aceptado %>
  </div>
  <br>
<%end%>
  <div class='actions' style="text-align: center;">
      <%= form.submit%>
  </div>
  <br>
  <%= link_to 'Listado de Restaurants', comuna_restaurants_path, :method => :get, :class => "button" %>





<%end%>