<%= form_with(url: (@restaurant.new_record? ? [@comuna, @restaurant] : comuna_restaurant_path), model: @restaurant, local: true) do |form| %>
<% if restaurant.errors.any? %>    
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class='field' style="text-align: center;">
      <%= form.label :nombre %>
      <%= form.text_field :nombre , maxlength: 20%>
  </div>
  <!-- <div class='field' style="text-align: center;">
      <%= form.label :valoracion %>
      <%= form.number_field :valoracion, max:10%>
  </div>
  <br> -->
  <!-- <div class='field' style="text-align: center;">
      <%= form.label :comentar %>
      <%= form.text_field :comentar, maxlength: 30 %>
  </div> -->
  <br>
  <div class='field' style="text-align: center;">
      <%= form.label :descripcion %>
      <%= form.text_field :descripcion, maxlength: 30 %>
  </div>
  <div class='field' style="text-align: center;">
    <%= form.label :especialidad %>
    <%= form.text_field :especialidad, maxlength: 30 %>
</div>
  <div class='field' style="text-align: center;">
    <%= form.label :address, 'Address' %>
    <%= form.text_field :address, class: "form-control" %>
</div>
  <div>
    <%= form.label :foto %><br/>
    <%= form.file_field :foto %>
  </div>
  <br>
  <!-- <%="tu id de dueno es #{current_user.id}"%>
  <div class='field' style="text-align: center;">
    <%= form.label :dueno %>
    <%= form.text_field :dueno %>
</div> -->
<br>

<%if current_user.tipo == "Administrador"%>
<p>0 todavia no aceptado, 1 aceptado</p>
    <div class='field' style="text-align: center;">
      <%= form.label :aceptado %>
      <%= form.number_field :aceptado, max:1, min:0%>
      
  </div>
  <br>
<%end%>
  <div class='actions' style="text-align: center;">
      <%= form.submit%>
  </div>
  <br>
  <%= link_to 'Listado de Restaurants', comuna_restaurants_path, :method => :get, :class => "button" %>





<%end%>