<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }
        
        td, th {
          border: 3px solid black;
          text-align: left;
          padding: 8px;
        }
        
        tr{
        border: black;
          background-color: #dddddd;
        }
        body{
            padding: 0;
            margin: 0;
            background-image: url("<%= asset_path('fondo_restaurant.jpg') %>");
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Lato', sans-serif;
            display: block;
        }
        .button {
          background-color: white;
          color: black;
          border: none;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border-radius: 5px;
          font-size: 15px;
          margin: 4px 2px;
          transition-duration: 0.8s;
          border: 2px solid black;
      }
        .button:hover{
            background-color: rgb(6, 105, 39);
            color: white;
        }

        .alignright { float: right; }
        h1{
          color: white;
        }
    
        </style>

</head>
<body >
  <%= render :template => "header.html.erb"%>
    
<p id="notice"><%= notice %></p>
<div class="parte1" style="text-align: center;">
    <h1><strong>Restaurant</strong> &#128523;</h1>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <thead>
            <tr>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">Valoracion</th>
                <th style="text-align: center;">Comentarios</th>
                <th style="text-align: center;">Descripcion</th>
                <th style="text-align: center;">Comuna</th>
                <th style="text-align: center;">Dueño</th>
                <%if current_user.tipo != "Cliente"%>
                  <th style="text-align: center;">Estado</th>
                <%end%>
                <th style="text-align: center;">Accion</th>
            </tr>
        </thead>

    <tbody>
      <%if current_user.tipo == "Dueño"%>
        <% @restaurants.each do |restaurant|%>

          <%if current_user.id == restaurant.user_id %>
          <tr>
              <td style="text-align: center;"><%= restaurant.nombre%></td>
              <td style="text-align: center;"><%= restaurant.valoracion%></td>
              <td style="text-align: center;"><%= restaurant.comentar%></td>
              <td style="text-align: center;"><%= restaurant.descripcion%></td>
              <td style="text-align: center;"><%= restaurant.comuna.nombre%></td>
              <td style="text-align: center;"><%= restaurant.user_id%></td>
              <td style="text-align: center;"><%= restaurant.aceptado%></td>
            <td style="text-align: center;"><%= link_to 'Ver detalles', comuna_restaurant_path(restaurant.comuna.id, restaurant)%></td>
          </tr>
          <%end%>

        <%end%>
      <%end%>
      <%if current_user.tipo == "Cliente"%>
        <% @restaurants.each do |restaurant|%>

          <%if restaurant.aceptado == 1%> 
            <tr>
                <td style="text-align: center;"><%= restaurant.nombre%></td>
                <td style="text-align: center;"><%= restaurant.valoracion%></td>
                <td style="text-align: center;"><%= restaurant.comentar%></td>
                <td style="text-align: center;"><%= restaurant.descripcion%></td>
                <td style="text-align: center;"><%= restaurant.comuna.nombre%></td>
                <td style="text-align: center;"><%= restaurant.user_id%></td>
                <td style="text-align: center;"><%= link_to 'Ver detalles', comuna_restaurant_path(restaurant.comuna.id, restaurant)%></td>
              </tr>
            <%end%>
          <%end%>
      <%end%>
      <%if current_user.tipo == "Administrador"%>
        <% @restaurants.each do |restaurant|%>
          <tr>
              <td style="text-align: center;"><%= restaurant.nombre%></td>
              <td style="text-align: center;"><%= restaurant.valoracion%></td>
              <td style="text-align: center;"><%= restaurant.comentar%></td>
              <td style="text-align: center;"><%= restaurant.descripcion%></td>
              <td style="text-align: center;"><%= restaurant.comuna.nombre%></td>
              <td style="text-align: center;"><%= restaurant.user_id%></td>
              <td style="text-align: center;"><%= restaurant.aceptado%></td>
              <td style="text-align: center;"><%= link_to 'Ver detalles', comuna_restaurant_path(restaurant.comuna.id, restaurant)%></td>
            </tr>
        <%end%>
      <%end%>
    </tbody>
    </table>
    <br>

</div>

</body>>
