<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
        margin-left:auto; 
    margin-right:auto;
        
      }
      
      
      td, th {
        border: 3px solid black;
        text-align: left;
        padding: 8px;
      }
      
      tr{
      border: black;
        background-color: #dddddd;
      }
      body {
        padding: 0;
        margin: 0;
        /*background-image: url("<%= asset_path('resta2.jpg') %>");*/
        background-color: burlywood;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'Lato', sans-serif;
        display: block;
    }
    .button {
      background-color: white;
      color: black;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      font-size: 15px;
      margin: 4px 2px;
      transition-duration: 0.8s;
      border: 2px solid black;
  }
    .button:hover{
        background-color: rgb(110, 42, 3);
        color: white;
    }
    .photo{
      width: 150px;
      height: 150px;
      margin: auto;
  
  }
   
  .img_preview{
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  .container-fluid{
    background-color: #333333;
    
  }

    
    </style>
</head>
<body>
  <%= render :template => "header.html.erb"%>
    

<p id="notice" style="color: white;"><%= notice %></p>

<div style="text-align: center;margin:auto">
<h1 style="color:black;"><strong><%= @restaurant.nombre%></strong></h1>
  <!-- <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
    <thead>
        <tr>
            <th style="text-align: center;">Nombre</th>
            <th style="text-align: center;">Valoracion</th>
            <th style="text-align: center;">Comentarios</th>
            <th style="text-align: center;">Descripcion</th>
            <th style="text-align: center;">Comuna</th>
            <th style="text-align: center;">Dueño</th>
            <th style="text-align: center;">Estado</th>
        </tr>
    </thead>

  <tbody>
    <tr>
        <td style="text-align: center;"><%= @restaurant.nombre%></td>
        <td style="text-align: center;"><%= @restaurant.valoracion%></td>
        <td style="text-align: center;"><%= @restaurant.comentar%></td>
        <td style="text-align: center;"><%= @restaurant.descripcion%></td>
        <td style="text-align: center;"><%= @restaurant.comuna.nombre%></td>
        <td style="text-align: center;"><%= @restaurant.user_id%></td>
        <td style="text-align: center;"><%= @restaurant.aceptado%></td>
    </tr>
  </tbody>
  </table> -->
  <br>
  <div class="card mb-3" style="max-width: 680px;margin:auto; background-color:bisque;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="photo" >
          <%if @restaurant.foto.attached?%>
            <%= image_tag(@restaurant.foto, :class => "img_preview") %>
          <%else%>
            <%= image_tag 'user.jpg',class: "img_preview"%>
          <%end%>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><%=@restaurant.comentar%></h4>
          <p class="card-text"><%= @restaurant.descripcion %></p>
          <p class="card-text"><%= @restaurant.valoracion %></p>
          </div>
      </div>
    </div>
  </div>


  <% @restaurant.comentarios.each do |comentario| %>
  <div class="card mb-3" style="max-width: 510px;margin:auto">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="photo" >
          <%if comentario.user.foto.attached?%>
            <%= image_tag(comentario.user.foto, :class => "img_preview") %>
          <%else%>
            <%= image_tag 'user.jpg',class: "img_preview"%>
          <%end%>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title"><%=comentario.user.username%></h4>
          <p class="card-text"><%= comentario.contenido %></p>
          <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%>
            <%= link_to 'Editar', edit_comuna_restaurant_comentario_path(comentario.restaurant.comuna_id , comentario.restaurant_id, comentario), :method => :get%>
            
            <%= link_to 'Destroy', comuna_restaurant_comentario_path(@restaurant.comuna, @restaurant, comentario), method: :delete, data: { confirm: 'Are you sure?' }%></td>
          <%end%>
          </div>
      </div>
    </div>
  </div>

  <%= image_tag google_map(center: [ @restaurant.latitude, @restaurant.longitude ].join(','))%>
  
  <!-- <div class="comentario">
    <div class="photo">
    </div>
    <br><br><br>
    <div class="text">
      <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <thead>
          <tr><th>Comentario</th>
          <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%>  
          <th>Editar</th>  
          <th>Eliminar</th></tr>
          <%end%>
        </thead>
        <tbody>
          <tr><td><%= comentario.contenido %></td>

          <%if comentario.user_id == current_user.id or current_user.tipo == "Administrador"%> 
            <td><%= link_to 'Editar', edit_comuna_restaurant_comentario_path(comentario.restaurant.comuna_id , comentario.restaurant_id, comentario), :method => :get%></td>
            <td><%= link_to 'Destroy', comuna_restaurant_comentario_path(@restaurant.comuna, @restaurant, comentario), method: :delete, data: { confirm: 'Are you sure?' }%></td></tr>
          <%end%>

        </tbody>
      </table>
      
    </div>
  </div> -->
  <%end%>
  

  <br>
 

    <%= link_to 'Listado de restaurants', comuna_path(@restaurant.comuna_id), :method => :get, :class => "button" %>
    <%if current_user.tipo == "Administrador" or current_user.tipo == "Dueño"%>
      <%= link_to 'Editar restaurant', edit_comuna_restaurant_path(@restaurant.comuna, @restaurant.id), :method => :get, :class => "button" %>
      <%if current_user.tipo == "Administrador"%>
        <%= link_to 'Eliminar restaurant', comuna_restaurant_path(@restaurant.comuna, @restaurant.id), method: :delete, data: {confirm: 'Estas seguro?'}, :class => "button" %>
      <%end%>
    <%end%>
    <%if current_user.tipo == "Cliente"%>
      <%= link_to 'Agregar comentario ', new_comuna_restaurant_comentario_path(@restaurant.comuna, @restaurant.id), :method => :get, :class => "button" %>
    <%end%>
    
  </div>

</body>