<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<style>
    * {
      box-sizing: border-box;
    }
    
    /* Create three equal columns that floats next to each other */
    *.column {
      float: left;
      width: 33.33%;
      padding: 10px;
      height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    } 
    .header{
        background-color: gray;
    }
    h1,h2{
        text-align: center;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: underline;
    }
    h1{
      color: aliceblue;
    }
    body{
            background-image: url("<%= asset_path('fondo_user.jpg') %>");
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Lato', sans-serif;
            display: block;
    }
    circle{
        border-radius: 50%;

    }
    header{
        height: 200px;
    }
    button {
        background-color:black;
        color: black;
        border: none;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 25px;
        margin: 4px 2px;
        transition-duration: 0.8s;
        border: 2px solid #4CAF50;
    }
    button:hover{
        background-color: #4CAF50;
        color: white;
    }
    .li:last-child {
      text-align: right; 
    
  }
  .container{
    text-align:center;
  }
  .button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.8s;
    border: 2px solid black;
}
  .button:hover{
      background-color: rgb(76, 152, 175);
      color: white;
  }
  .button_red {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.8s;
    border: 2px solid black;
}
  .button_red:hover{
      background-color: rgb(236, 11, 11);
      color: white;
  }
  
.photo{
    width: 150px;
    height: 150px;
    margin: auto;

}
 
.img_preview{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.container-fluid{
  background-color: #333333;
  
}
.account {
  text-align: right;
  }
.section1{
  width:50%;
  float:center;
  text-align: center;
  height:100vh;
  box-sizing: border-box;
  margin:auto;
  padding:0;	
  margin-left: 480px; 
}
nav {
  width: 100%;
  height: 60px;
  background-color: #333;

}
nav ul {
  float:left;
}
nav ul li{
  float: left;
  list-style: none;
  position: relative;
  text-decoration: none;
}

nav ul li a{
  display: block;
  color: azure;
  font-size: 14px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul{
  display: none;
  position: absolute;
  background-color: #ad8080f8;
  width: 100px;
  text-decoration: none;
  padding: 0;
}
nav ul li:hover ul{
  display: block;
  position: absolute;
  text-decoration: none;
  color: whitesmoke;
  background-color: #ad8080f8;
  
}
nav ul li:hover a{
  text-decoration: none;
  color: whitesmoke;
  text-decoration: none;
  
}
nav ul li ul li a{
  padding: 5px 5px;
  float: left;
  text-decoration: none;
  background-color: #333;

}
nav ul li ul li a:hover{
  background-color: #ad8080f8;
  color: whitesmoke;
  
}

.alignright{
  position: absolute;
  float:right;
  right: 15px;
}
.titulo{
  text-align: center;
}





    
    
    </style>
</head>

<body>  

<%= render :template => "header.html.erb"%>

<br><br><br>

<h1>Listado usuarios</h1>
<div class="section1">  
  <br><br><br>

  

  
  <% @users = User.all %>
  
  <% @users.each do |user| %>
          <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class="photo" >
              <%if user.foto.attached? %>
                <%= image_tag(user.foto, :class => "img_preview")  %>
              <%else%>
                <%= image_tag 'user.jpg',class: "img_preview"%>
              <%end%>
            </div>
           
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%=user.username%></h5>
              <p class="card-text"><%=user.nombre%> <%=user.apellidos%></p>
              <p class="card-text"><%=user.tipo%></p>
              <p class="card-text"><%=user.sexo%></p>
              <p class="card-text"><%=user.descripcion%></p>
              <%=link_to 'Eliminar usuario', eliminar_path(user.id), :method => :get%>
            </div>
          </div>
        </div>
      </div>


    <br><br><br>
  
  <%end%>

   
</div>





    </div>
  </div>
</body>