<head>
  <style>
    body{
      text-align: center;
    }
    .h2{
      text-align: center;
    }
    form{
          text-align: center;
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
          width: 330px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 20px;
          background-color: darkgray;
        
      }
  </style>
</head>
<body>
  

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
</body>