<%= form_with(url: (@gusto.new_record? ? [@gusto] : cuenta_taste_path), model: @gusto, local: true) do |form| %>
<% if gusto.errors.any? %>    
    <div id="error_explanation">
      <h2><%= pluralize(gusto.errors.count, "error") %> prohibited this taste from being saved:</h2>
      <ul>
      <% gusto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <div class = 'field'>
        <%= form.label :nombre %>
        <%= form.text_field :nombre, maxlength: 20 %><br>
        <%= form.label :descripcion %>
        <%= form.text_field :descripcion, maxlength: 20 %><br>
        
    </div>

    <div class='actions'>
        <%= form.submit %>
    </div>

<% end %>