<head>
  <style>
    form{
      text-align: center;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width: 330px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
      background-color: burlywood;
    
  }
  h2{
    text-align: center;
  }
  .page{
    text-align: center;
  }
  body{
    background-image: url("<%= asset_path('fondo_login.jpg') %>");
    background-attachment: fixed;
      background-size: cover;
      font-family: 'Lato', sans-serif;
      display: block;
  }
  </style>
  
  </head>
  <body>
    
  
<h2>Sign up</h2>
<div class="page">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <p>para tipo -> admin, dueño, client</p></br>
    <p>para sexo -> hombre, mujer, otro</p></br>
  </div>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :apellidos %><br />
    <%= f.text_field :apellidos, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo, autofocus: true, autocomplete: "admin, dueño, client" %>
  </div>

  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo, autofocus: true, autocomplete: "hombre, mujer, otro" %>
  </div>

  <div class="field">
    <%= f.label :contacto %><br />
    <%= f.text_field :contacto, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :comuna %><br />
    <%= f.text_field :comuna, autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
  </body>