<h1>aqui va la lista de info</h1>
<p>nombre completo: <%= current_user.nombre %> <%= current_user.apellidos %></p></br>
<p>username: <%= current_user.username %></p></br>
<p>email: <%= current_user.email %></p></br>
<p>sexo: <%= current_user.sexo %></p></br>
<p>tipo de usuario: <%= current_user.tipo %></p></br>

<% if current_user %>
    <ul>
        <li><a href="/welcome"> Menu</a></li>
        <li><%=link_to 'cerrar session', destroy_user_session_path, method: :delete%></li>
        <li><a href="/confirmacion"> eliminar cuenta</a></li>
    </ul>
<% end %>
