<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      form{
            text-align: center;
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 330px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            background-color: burlywood;
        }
        body {
            padding: 0;
            margin: 0;
            background-image: url("<%= asset_path('lights.jpg') %>");
            background-attachment: fixed;
            background-size: cover;
            font-family: 'Lato', sans-serif;
            display: block;
        }
        .button {
            background-color: white;
            color: black;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            font-size: 12px;
            margin: 4px 2px;
            transition-duration: 0.8s;
            border: 2px solid black;
        }
          .button:hover{
              background-color: rgb(3, 110, 65);
              color: white;
          }
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color: #cb5f59;
          }
          .alignright { float: right; }
  </style>
</head>
<body>
  <ul>
    <li><a href="/welcome">Home</a></li>
    <li><a href="/restaurants">Restaurants</a></li>
    <li><a href="/comunas">Comunas</a></li>
    <li><a href="/comentarios">Comentarios</a></li>
    <li><a href="/gustos">Gustos</a></li>
    <li><a href="/meetings">Citas</a></li>
    <li class="alignright"><a href="#">Mi cuenta</a></li>
  </ul>

    <p id="notice"><%= notice %></p>


<div class="parte1" style="text-align: center;">
<h1>Editar Citas</h1>
<div class="form">
<%= form_with(model: @meeting, method: :patch) do |form|%>

    <div class = 'field'>
        <%= form.label :usuario1 %>
        <%= form.text_field :usuario1 %>
    </div>
    <br>
    <div class = 'field'>
        <%= form.label :usuario2 %>
        <%= form.text_field :usuario2 %>
    </div>
    <br>
    <div class='actions'>
        <%= form.submit %>
    </div>

<% end %>

<%= link_to 'Listado de citas', meetings_path, :method => :get, :class => "button"%>
</div>

</div>
</body>
